.products{

    &-title{
        text-align: center;
    }

    &-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        justify-content: center;
        gap: 8px;
    }

    &-card{
        width: 100%;
    }
}

.main{

    &-filters{
        border-right: 1px solid #d6d6d6;
    }
}